.ContactCard{
    width: 50%;
    background: #e7ecf2;
    padding: 25px 80px;
    display: flex;justify-content: start;align-items: center;
    border-right:solid 1px #c5ced9;
    .left{
        width: 60%;
        h1{
            font-size: 40px;
            color: var(--primary);
            text-transform: capitalize;
            font-weight: normal !important;
        }
        p{
            font-size: 20px;
            color: var(--primary);
        }
    }
    .right{
        width: 28%;
        background: var(--primary);
        text-align: center;
        padding: 12px;
        .link{
            color: var(--white);
            font-size: 20px;
            font-weight: normal;
            // width: 100%;
        }
    }
}